body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.languages {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
